#wrapper {
	overflow:auto; 
}
#main {
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding-top: 1%;
}
#main #content {
    width: 100%;
}
#main #content h3 {
    margin-left:50px;
    padding: 12px 0 12px 0;
    font: 20px 'TeXGyreScholaRegular', Arial, sans-serif;
    color: #8e8e8e;
}
#main #content p {
    margin-left:70px;
    padding: 12px 0 10px 0;
    font: 14px 'TeXGyreScholaRegular', Arial, sans-serif;
    color: #8e8e8e;
}